*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Helvetica,Open-Sans,"sans-serif-light",sans-serif;
    list-style: none;
    text-decoration: none;
    
}

:root{
    --bg-color: white;
    --text-color:black;
    --main-font: 2.2rem;
    --p-font:.875em;
}

body {
    
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: .875rem;
    font-weight: 300; 
}

header{
    border-top: 15px solid black;
    width: 100%;
    top:0;
    right:0;
    position:fixed;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 10%;
    transition: .3x;
    z-index: 1001;
}


.logo img{
    max-width: 200px;
    height: 200px;
}

section{
    padding: 5% 10%;

}

/*---shopping cart---*/

table{
    width: 100%;
    border-collapse: collapse;

}

.cart-container{
    
    margin: 270px 70px;
    z-index: 1001;
    
   
}

.spcart-info{
    direction: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: black;
  

}

td{
    padding: 20px 15px;
    font-weight: 700;
}

td input{
    width: 100px;
    border-color: black;
    border-radius: 30px;

}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}



.gift-message-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

.gift-message-form {
    margin-bottom: 20px;
}

.gift-message-form label {
    display: block;
    padding: 12px;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1.8px;

   
}

.gift-message-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}

.checkoutBtn {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 20px;
    background-color: black; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: block;
    margin: auto;
}
/*---Login---*/

.container{
    width: 100%;
    height:100vh;
    background-color: white;
    background-position: center;
    position: relative;
}


.form-box{
    width: 50%;
    position: absolute;
    top:11%;
    left:50%;
    transform: translate(-50%,50%);
    background:black;
    padding: 20px 60px;

}


.form-box h1{
    font-size: 40px;
    font-family: Helvetica,Open-Sans,"sans-serif-light",sans-serif;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: white;
    position: relative;
    align-items: center;
}

.input-field{
    background:goldenrod;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.input-field i{
    padding: 10px;
}

input{
    width: 100%;
    background: white;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.btn-field{
    width: 100%;
    display: flex;
    margin-top: 20px;
    
   
}

.btn-field button{
    flex-basis: 100%;
    font-weight: 800;
    color: goldenrod;
    font-size: 15px;
    font-family: Helvetica,Open-Sans,"sans-serif-light",sans-serif;
    background: white;
    height: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 40px;

}

.input-group{
    height: 300px;
}

.btn-field button:hover{
    
    background-color: goldenrod;
    color: white;

}

.link-register{
    margin:20px 10px;
    color:white;
}

.link-register a:hover{

    color: goldenrod;
    
}


/*--- thank you message ----*/

.thankyou-msg{
    margin: 300px 10px; ;
}

.thankyou-msg h1{
    margin-bottom: 10px;

}

.thankyou-msg p{
    margin-bottom: 30px;

}

.thankyou img{
    height: 300px;
    width: 400px;
}

/*---navigation bar----*/

.navbar{
    display: flex;

}

.navbar a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 40px;
    transition: all .42s ease;
}

.navbar a:hover{
    background-color: black;
    color: white;
}

.navbar.open{
    right:0;

}
.nav-icon{
    display:flex;
    align-items: center;

}

.nav-icon i {
    color: black;
    font-size: 15px;
    font-weight: 400;
    margin-right: 20px;
    transition: all .42s ease;
}

.nav-icon i:hover {
    transform:scale(1.1);
    color: gold;
}

/*---faq---*/
.faq-container {
    max-width: 800px;
    margin: 270px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-container h1 {
    margin-bottom: 50px;
    font-weight: 800;
}
.faq-item {
    margin-bottom: 20px;
    margin: 30px 40px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 17px;
    cursor: pointer;
    background-color: black;
    
}

.faq-item h2 {
    margin-bottom: 10px;
    color: white;
    font-weight: 800;
    font-size: 15px;
}

.faq-item p {
    margin: 0;
    color: white;
    display: none;
    font-weight: 400;
}

.faq-item.active p {
    display: block;
}
/*--main---*/

.main-home{
    width:100%;
    height: 100vh;     
    display: grid;
    align-items: center;
}

.center-text h2{
    color: var(--text-color);
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    letter-spacing: 2px;
    
}

.center-text h3{
    color: black;
    font-size: 70px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    
}


.center-text h3 span{
    color: goldenrod;
}

.center-text span{
    color: goldenrod;
}


/*---display product in grid---*/

.products{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,200px));
    gap: 3rem;
    margin-left: 10%;  

    
}

.row{
    position: relative;
    transition: all .40s;
}

.row img{

    width:100%;
    height: auto;
    transition:all .40s;
    
}

.row img:hover{
    
    transform:scale(1.1);
}

.product-text h5{
    position: relative;
    color: var(--text-color);
    margin-bottom: 5px;

}


.product-text h6{
    font-size: .70rem;
    font-weight: 500;   
    margin-bottom: 2px;
}

.price h4{
    font-size: .80rem;
    font-weight: 700;

}

.price h6{
    margin-top: 5px;
    font-weight: 300;
    font-style: italic;
}

.heart-icon{
    position:absolute;
    right: 0;
    font-size: 20px;

   
}

.heart-icon:hover{
   color: red;
   
}



.rating{
    margin-bottom: 5px;
}


.rating:hover{
    color: goldenrod;
}


/*---product1---*/
.product-page {
    display: flex;
    justify-content: space-around;
    margin: 120px;
}

.product-image img {
    flex: 1;
    width: 500px;
    height: 500px;
}

.product-details {
    flex: 2;
    max-width: 100%;
    margin: 150px;
    margin-left: 280px;
}

.product-details h2 {
    margin-bottom: 10px;
}

.product-details span{
    color: white;
    
    
}
.product-details p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lucida Console", "Courier New", monospace;
    letter-spacing: 3px;
}

.product-details h6 {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 10px;
}

.product-details h5 {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    line-height: 1.5;
}


.price {
    font-size: 1.5em;
    color: #333;
}

form {
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: goldenrod;
    color: white;
}

/*---Contact US CLASS---*/
.container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.side-by-side-container {
    display: flex;
    align-items: center;
    
}
#form {
    flex: 1;
    width: 100%;
    margin-left: 180px;
    padding: 30px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    font-size: 30px;
    margin-top: 100px;
    color: #0f2027;
    text-align: center;
    margin-bottom: 40px;
    
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid black;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
    margin-top: 10px;

}
#msg {
    padding: 20px;
}
.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.image-container {
    flex: 1;
    margin-left: 200px;
    margin-top: 200px;
}

.image-container img {
    width: 400px;
    height: 500px;
}

/*---footer---*/
.contact{
    background-color: black;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px, auto));
    gap:3rem;
}

.contact-info h4{
    color: goldenrod;
    font-family: Helvetica,Open-Sans,"sans-serif-light",sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 15px;
    
}

.contact-info p{
    color: white;
    font-size: 12px;
    font-family: Helvetica,Open-Sans,"sans-serif-light",sans-serif;
    line-height: 2;
    margin-bottom: 10px;
    transition: all .30s;
}



.second-info p:hover,.third-info p:hover{
    color: grey;
    cursor: pointer;
}

.social-icons i{
    color: goldenrod;
    margin-right: 20px;
    font-size: 20px;
}


.social-icons i:hover{
    color: white;
}



/*---Home-Menu ID---*/

#menu-icon{
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
}
#video {
    position:absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
}

#video video {
    width: 100%;
    display: block;
    margin: auto auto;
    height: 70%; 
}

#seemore-button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 20px;
    font-size: 10px;
    background-color: white; 
    color: black;
    border: none;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
}

#seemore-button:hover{
    background-color: black;
    color: white;
}
/*----Product ID----*/

#him{
    margin-top: 5px;
}


/*---For smaller screens size---*/

@media screen and (max-width: 890px) {
    header {
        position:fixed;
        flex-direction:column;
        padding: 20px 3%;
        transition: .4s;
        font-size: 20%;
    }

  

    #video {
        margin-top: 80px;
        position: absolute;
        width: 100%; 
    }

    
    #seemore-button {
        font-size: 9px;
        padding: 12px 20px;
    }

    .products{
        display: block;
        margin-top: 10px;
        
    }

    .product-page {
        display: block;
        margin: 200px 30px;
        
    }
    .product-details {
        margin: 10px;

    }
}


@media screen and (max-width: 1090px) {
    .center-text h3{
        font-size: 30px;
        margin-top: 300px;

    }
    #menu-icon{
        display: flex;
    }

    .navbar {
        position: absolute;
        top:100%;
        right:-100%;
        width: 300px;
        height: 130vh;
        display:flex;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding: 100px 15px;
        transition:all .42s;
    }

    .navbar a {
        margin: 18px 0;
        display: block;
        font-size: 10px;
    }

    .navbar.open{
        right:0;

    }

    .navbar a:hover{
        background-color: goldenrod;
        color: white;
    }

    .form-box{
        top: 20%;
        padding: 50px 25px;
        
    }


    .input-group{
        height: 200px;
    }

    .btn-field button{
        font-size:20px;
        height: 50px;
        
    }

    input{
        padding: 10px 15px;
    }

    .cart-container{
         margin: 300px 50px;
    }

    th{
    font-size: 13px;
    }

    td{
    font-size: 10px;
    }

    td input {
        width: 80px;
    }
    .cart-container table {
        overflow-x: auto;
    }

    .form-box{
        width: 100%;
    }
    .input-group{
        height: 220px;
    }

    .side-by-side-container{
        display: block;
        margin-top: 100px;
    }
    
    .image-container {
        display: none;
    }

    #form{
        margin-top: 100px;
        margin-left: 0;
    }
    
    

}

@media screen and (max-width: 400px) {

    .input-group{
        height: 150px;
    }
 

    .product-image img {
        width: 300px;
        height: 300px;
        
    }

    .input-group{
        height: 220px;
    }


    
}




@media screen and (max-width: 200px) {
    .link-register p{
        font-size: 7px;
    }

    .input-group{
        height: 220px;
    }

}